<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>모나미몰연습용 사이트 - JPA상세보기</title>
<link rel="stylesheet" type="text/css" href="/css/board/detail.css">
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/header-menu.js"></script>
<script src="/js/board/detail.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script type="text/javascript">
	function cartMsg(){
		if($(".login_check").val() == "null"){
			if(confirm("로그인 후 이용이 가능합니다.")){
				location.href="/member/login";
			}
		}else{
			if(confirm("장바구니에 담으시겠습니까?")){
				return true;
			}
		}
		return false;
	}
	
	function importClick(){
		if($(".login_check").val() == "null"){
			if(confirm("로그인 후 이용이 가능합니다.")){
				location.href="/member/login";
			}
		}else{
			var IMP = window.IMP; // 생략가능
			var price = $(".price").text();
			var name = $(".hidden-name").val();
			   IMP.init('imp73618380');  // 가맹점 식별 코드
			   IMP.request_pay({
			       pg : 'kakao', // 결제방식
			       pay_method : 'card',	// 결제 수단
			       merchant_uid : 'merchant_' + new Date().getTime(),
		     	   name : '주문명: 테스트',	// order 테이블에 들어갈 주문명 혹은 주문 번호
			       amount : price,	// 결제 금액
			       buyer_email : '',	// 구매자 email
			       buyer_name :  name,	// 구매자 이름
			       buyer_tel :  '',	// 구매자 전화번호
			       buyer_addr :  '',	// 구매자 주소
			       buyer_postcode :  ''	// 구매자 우편번호
			       /* <%-- m_redirect_url : '<%=request.getContextPath()%>/index.jsp'	결제 완료 후 보낼 컨트롤러의 메소드명 --%> */
			   }, function(rsp) {
				if ( rsp.success ) { // 성공시
					alert(rsp.buyer_name+"님"+rsp.paid_amount+"원 결제가 정상 처리되었습니다.");
					location.href="/board/stationery/1";
				} else { // 실패시
					var msg = '결제에 실패하였습니다.';
					msg += "\n" + rsp.error_msg;
					alert(msg);
				}
			});
		}
	}
	
</script>
</head>
<body>
	<th:block th:insert="/commons/header::header"></th:block>
	<main id="contents">
		<input type="hidden" class="hidden-name" th:value="${session.login.name}" th:if="${session.login != null}">
		<section id="detail-wrap">
			<h1>JPA상세보기</h1>	
			<div class="detail-div">
				<div class="img-div">
					<!-- <img th:style="|background-image:${dto.url}|"> -->
					<img th:src="${dto.url}">
				</div>
				<div class="text-div">
					<div>
						<div class="top-btn-div" th:if="${session.login != null}">
							<a class="update-btn" onclick="updateBtn()" th:if="${#strings.equals(session.login.id, 'admin')}">수정</a>
							<a class="delete-btn" onclick="return deleteBtn()" th:href="|/board/stationery-delete/${dto.no}|" th:if="${#strings.equals(session.login.id, 'admin')}">삭제</a>
						</div>
						<span class="brand">[[${dto.brand}]]</span>
						<span class="title">[[${dto.title}]]</span>
					</div>
					<div class="content-div">
						<ul>
							<li>
								판매가
								<span>
									<em class="price" th:text="${#numbers.formatInteger(dto.price,3,'COMMA')}"></em>
									원
								</span>
								<button>기획전 보기+</button>
							</li>
							<li>
								회원혜택
								<span>회원등급별 포인트 적립 및 즉시할인</span>
								<button>회원별 혜택+</button>
							</li>
							<li>
								카드혜택
								<span>카드 무이자 할부 혜택</span>
								<button>카드사 혜택+</button>
							</li>
						</ul>
						<!-- ////////////////////////////////////////// -->
						<ul>
							<li>
								원산지/판매원
								<span>(주)모나미</span>
							</li>
							<li>
								배송정보
								<span>16시 30분 이전 주문시 당일출고(공휴일,토/일요일제외)</span>
							</li>
							<li>
								배송비
								<span>2,500원(2만원 이상 주문 시 무료 배송)</span>
							</li>
						</ul>
						<div class="total-div">
							<strong>총 상품금액</strong>
							<em th:text="${#numbers.formatInteger(dto.price,3,'COMMA')}"></em>
							원
						</div>
						<div class="btn-div">
							<form action="/board/cart" method="post" onsubmit="return cartMsg()">
								<th:block th:if="${session.login != null}">
									<input type="hidden" name="user_id" th:value="${session.login.id}">
								</th:block>
								<input type="hidden" name="board_no" th:value="${dto.no}">
								<input type="hidden" name="url" th:value="${dto.url}">
								<input type="hidden" name="brand" th:value="${dto.brand}">
								<input type="hidden" name="title" th:value="${dto.title}">
								<input type="hidden" name="price" th:value="${dto.price}">
								<button type="submit" class="btn-cart">장바구니 담기</button>
								
								<button type="button" class="btn-buy" onclick="importClick()">바로 구매하기</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="comment-write">
				<div>
					<th:block th:if="${session.login != null}">
						<input type="hidden" class="comment_id" th:value="${session.login.id}"> 
					</th:block>
					<th:block th:if="${session.login == null}">
						<input type="hidden" class="login_check" value="null">
					</th:block>
					<input type="hidden" class="comment_boardNo" th:value="${dto.no}">
					<textarea rows="1" cols="100" class="comment_content"></textarea>
					<button type="button" onclick="commentBtn()">등록</button>
				</div>
			</div>
			<div id="comment">
				
			</div>
			<div class="update-div">
				<span>게시판 수정</span>
				<div>
					<form action="/board/stationery-update" method="post" enctype="multipart/form-data" onsubmit="return updateSubmit()">
						<input type="hidden" name="no" th:value="${dto.no}">
						<input type="file" name="file">
						<input type="text" name="brand" required th:value="${dto.brand}">
						<input type="text" name="title" required th:value="${dto.title}">
						<input type="text" name="price" required th:value="${dto.price}">
						<div class="label-div">
							<label>
								<span>사은품 유무</span><input type="checkbox" name="tag" value="사은품">
							</label>
						</div>
						<div class="btn">
							<button type="submit">수정</button>
							<button type="button" onclick="cancelBtn()">취소</button>
						</div>
					</form>
				</div>
			</div>
		</section>
	</main>
	<th:block th:insert="/commons/footer::footer"></th:block>
</body>
</html>